**/.ipynb_checkpoints
**/__pycache__/
raw_data/
**/.DS_Store
complex_components_outputs_UL
complex_components_outputs_SL
simple_components_outputs_UL
simple_components_outputs_SL
.nfs00000000023c9c7400005b49
